<div>
  <h1 class="uk-heading-divider">Get service requests statistics</h1>
</div>

<div class="uk-container-small uk-align-center uk-box-shadow-medium uk-padding">

  <div class="uk-margin-bottom">
    <div class="uk-alert uk-alert-warning">Start and end dates are included in the results.</div>
    <div *ngIf="searchForm" [formGroup]="searchForm"
         class="uk-margin uk-grid uk-child-width-1-2 uk-flex-bottom">
      <div class="uk-margin">
        <label class="uk-form-label">Start Date (*)</label>
        <input class="uk-input" type="date" formControlName="fromDate">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">End Date (if needed)</label>
        <input class="uk-input" type="date" formControlName="toDate">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Request Type (if needed)</label>
        <select class="uk-select" formControlName="reqType">
          <option *ngFor="let t of typesArray" value="{{ requestTypes[t] }}">{{ requestTypes[t] }}</option>
        </select>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="includeD">
          Include Duplicate requests
          <input id="includeD" class="uk-checkbox uk-margin-left" type="checkbox" formControlName="includeDup">
        </label>
      </div>
    </div>
    <div class="uk-margin uk-margin-medium-top">
      Search for the statistics results mentioned below:
    </div>
    <div class="uk-margin uk-grid uk-child-width-1-3">
      <div>
        <button class="uk-button uk-button-primary" (click)="getTotalReqPerType()">
          Total requests per type in date range</button>
      </div>
      <div>
        <button class="uk-button uk-button-primary" (click)="getTotalReqPerDay()">
          Total requests per day for type in date range</button>
      </div>
      <div>
        <button class="uk-button uk-button-primary" (click)="getTotalReqPerZipCodeInDay()">
          Popular request type per zip-code in one day</button>
      </div>
    </div>
  </div>
  <div *ngIf="results && (results.length > 0)" class="uk-margin-bottom">
    <div class="uk-margin">
      <h5 class="uk-h5">{{ resultsTitle }}</h5>
    </div>
    <div class="uk-margin">
      <table class="uk-table uk-table-hover uk-table-striped">
        <thead>
        <tr>
          <th *ngIf="queryChoice === 3">Zip Code</th>
          <th *ngIf="(queryChoice === 1) || (queryChoice === 3)">Type Of Request</th>
          <th *ngIf="queryChoice === 2">Creation Date</th>
          <th>Number of Requests</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of results">
          <td *ngIf="(queryChoice === 1) && r[0]">{{ r[0] }}</td>
          <td *ngIf="(queryChoice === 2) && r[0]">{{ r[0] | date : "yyy-MM-dd" }}</td>
          <td *ngIf="(queryChoice === 3) && (r[0] >= 0)">{{ r[0] }}</td>
          <td *ngIf="r[1]">{{r[1]}}</td>
          <td *ngIf="r[2]">{{r[2]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
