<div class="uk-position-top uk-position-fixed uk-background-primary uk-margin-auto-vertical uk-position-z-index">
  <div class="uk-align-left" style="margin: 25px">
    <img src="../../assets/images/city-logo.png" width="600">
  </div>
  <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>

    <div class="uk-navbar-left uk-margin-medium-left">

      <ul class="uk-navbar-nav uk-link-reset">
        <li class="top-menu-link" routerLinkActive="top-menu-active-link">
          <a [routerLink]="['home']">Home</a>
        </li>
        <li class="top-menu-link" [routerLinkActive]="['top-menu-active-link']">
          <a [routerLink]="['requests/find']">Find Request</a>
        </li>
        <li class="top-menu-link" [routerLinkActive]="['top-menu-active-link']">
          <a [routerLink]="['requests/statistics']">View statistics</a>
        </li>
        <li class="top-menu-link" routerLinkActive="top-menu-active-link">
          <a href="/requests/new/abandoned_vehicle">Create New Request</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li *ngFor="let t of typesArray">
                <a (click)="goToNewRequest(t)">{{ requestTypes[t] }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>

    <div class="uk-navbar-right uk-margin-medium-right uk-light">
      <ul class="uk-navbar-nav">
        <li class="top-menu-link" routerLinkActive="top-menu-active-link">
          <a [routerLink]="['home']" class="uk-text-uppercase">
            {{ getUsername() ? 'Welcome back, ' + getUsername() + '!' : 'Sign In' }}
          </a>
          <div *ngIf="isUserLoggedIn()" class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a (click)="logout()">Sign out</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</div>
