<div>
  <h1 class="uk-heading-divider">{{ newRequest ? 'Submit': 'Edit' }} a {{ requestType ? requestTypes[requestType] : 'new' }} service request</h1>
</div>

<div *ngIf="requestForm" class="uk-container-small uk-align-center uk-box-shadow-medium uk-padding">

  <div>
    <div class="uk-margin-bottom">
      <div id="map" class="map" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="uk-text-small uk-text-muted uk-margin-bottom">
      For your convenience, click over the incident location on the map and the latitude/longitude and the coordinates will be filled automatically.
    </div>

    <div class="uk-alert uk-alert-success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="uk-form-horizontal">
      <form id="requestForm" [formGroup]="requestForm">
        <div *ngIf="requestForm.get('serviceRequestNumber').value" class="uk-margin">
          <label class="uk-form-label" for="reqNo">Service Request Number</label>
          <div class="uk-form-controls">
            <input id="reqNo" type="text" formControlName="serviceRequestNumber"
                   class="uk-input">
          </div>
        </div>
        <div *ngIf="!newRequest" class="uk-margin">
          <label class="uk-form-label" for="creation">Created on</label>
          <div class="uk-form-controls">
            <input id="creation" type="text" class="uk-input"
                   formControlName="creationDate">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="reqStatus">Request Status</label>
          <div class="uk-form-controls">
            <select id="reqStatus" formControlName="status" class="uk-select">
              <option value="">-- choose status --</option>
              <option value="Open">Open</option>
              <option value="Open - Dup">Open - Dup</option>
              <option value="Completed">Completed</option>
              <option value="Completed - Dup">Completed - Dup</option>
            </select>
          </div>
        </div>
        <div *ngIf="requestForm.get('completionDate').value" class="uk-margin">
          <label class="uk-form-label" for="complDate">Completion Date</label>
          <div class="uk-form-controls">
            <input type="text" class="uk-input" id="complDate"
                   formControlName="completionDate">
          </div>
        </div>

        <div *ngIf="actionsForm" [formGroup]="actionsForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="currentActivity">Current Activity</label>
            <div class="uk-form-controls">
              <select id="currentActivity" formControlName="currentActivity" class="uk-select">
                <option value="">-- select an activity --</option>
                <option *ngFor="let act of currentActivitiesList" value="{{act}}">{{ act }}</option>
              </select>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="mostRecentAction">Most Recent Action</label>
            <div class="uk-form-controls">
              <select id="mostRecentAction" formControlName="mostRecentAction" class="uk-select">
                <option value="">-- select an action --</option>
                <option *ngFor="let act of mostRecentActionsList" value="{{act}}">{{ act }}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="vehicleForm" [formGroup]="vehicleForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="licensePlate">License Plate</label>
            <div class="uk-form-controls">
              <input id="licensePlate" type="text" formControlName="licensePlate" class="uk-input">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="vehMakeModel">Vehicle make/model</label>
            <div class="uk-form-controls">
              <select id="vehMakeModel" formControlName="vehicleMakeModel" class="uk-select">
                <option value="">-- select a vehicle model --</option>
                <option *ngFor="let mm of vehicleMakeModels" value="{{mm.makeModel}}">{{ mm.makeModel }}</option>
              </select>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="vehColor">Vehicle color</label>
            <div class="uk-form-controls">
              <select id="vehColor" formControlName="vehicleColor" class="uk-select">
                <option value="">-- select a color --</option>
                <option *ngFor="let col of vehicleColors" value="{{col.color}}">{{ col.color }}</option>
              </select>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="daysParked">Number of days reported as parked</label>
            <div class="uk-form-controls">
              <input id="daysParked" type="text" formControlName="numberOfDatsParked" class="uk-input">
            </div>
          </div>
        </div>

        <div *ngIf="garbageForm" [formGroup]="garbageForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="noOfCarts">Black carts delivered</label>
            <div class="uk-form-controls">
              <input id="noOfCarts" type="number" formControlName="numberOfCarts" class="uk-input" step="1">
            </div>
          </div>
        </div>

        <div *ngIf="graffitiForm" [formGroup]="graffitiForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="graffitiSurface">Type of surface with graffiti</label>
            <div class="uk-form-controls">
              <select id="graffitiSurface" formControlName="surfaceType" class="uk-select">
                <option value="">-- select a surface --</option>
                <option *ngFor="let sur of surfacesWithGraffiti" value="{{sur.surface}}">{{ sur.surface }}</option>
              </select>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="graffitiStructure">Location of graffiti</label>
            <div class="uk-form-controls">
              <select id="graffitiStructure" formControlName="structureType" class="uk-select">
                <option value="">-- select a location --</option>
                <option *ngFor="let loc of structuresWithGraffiti" value="{{loc.structure}}">{{ loc.structure }}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="potholesForm" [formGroup]="potholesForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="noOfPotholes">Pot-holes filled</label>
            <div class="uk-form-controls">
              <input id="noOfPotholes" type="number" formControlName="numberOfFilledPotholes" class="uk-input" step="1">
            </div>
          </div>
        </div>

        <div *ngIf="rodentForm" [formGroup]="rodentForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="baited">Premises baited</label>
            <div class="uk-form-controls">
              <input id="baited" class="uk-input" type="number" formControlName="numberOfPremisesBaited" step="1">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="withGarbage">Premises with garbage</label>
            <div class="uk-form-controls">
              <input id="withGarbage" class="uk-input" type="number" formControlName="numberOfPremisesWithGarbage" step="1">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="withRats">Premises with rats</label>
            <div class="uk-form-controls">
              <input id="withRats" class="uk-input" type="number" formControlName="numberOfPremisesWithRats" step="1">
            </div>
          </div>
        </div>

        <div *ngIf="sanitationForm" [formGroup]="sanitationForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="violations">Nature of the code violation</label>
            <div class="uk-form-controls">
              <select id="violations" class="uk-select" formControlName="violation">
                <option value="">-- select sanitation code violation --</option>
                <option *ngFor="let v of sanitationCodeViolationsList" value="{{ v.codeViolation }}">{{ v.codeViolation }}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="treeLocForm" [formGroup]="treeLocForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="treeLoc">
              {{ requestType === 'tree_debris' ? 'Location of the tree debris': 'Location of the trees to trim' }}
            </label>
            <div class="uk-form-controls">
              <select id="treeLoc" class="uk-select" formControlName="treeLocation">
                <option value="">-- select a location --</option>
                <option value="Alley">Alley</option>
                <option value="Vacant Lot">Vacant Lot</option>
                <option value="Parkway">Parkway</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="ssaForm" [formGroup]="ssaForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="ssa">SSA</label>
            <div class="uk-form-controls">
              <input id="ssa" type="number" formControlName="ssa" class="uk-input" step="1">
            </div>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="street">Street</label>
          <div class="uk-form-controls">
            <select id="street" formControlName="streetName"
                    class="uk-select">
              <option value="">-- street name --</option>
              <option *ngFor="let street of streetNames" value="{{street.streetName}}">{{ street.streetName }}</option>
            </select>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="streetNo">Street No</label>
          <div class="uk-form-controls">
            <input id="streetNo" type="text" maxlength="10" formControlName="streetNumber"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="zipCode">Zip Code</label>
          <div class="uk-form-controls">
            <select id="zipCode" formControlName="zipCode"
                    class="uk-select">
              <option value="">-- zip code --</option>
              <option *ngFor="let zip of zipCodes" value="{{zip.zipCode}}">{{ zip.zipCode }}</option>
            </select>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="policeDist">Police District</label>
          <div class="uk-form-controls">
            <input id="policeDist" type="number" min="1" max="25" step="1" formControlName="policeDistrict"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="community">Community Area</label>
          <div class="uk-form-controls">
            <input id="community" type="number" min="1" max="77" step="1" formControlName="communityArea"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="ward">Ward</label>
          <div class="uk-form-controls">
            <input id="ward" type="number" min="1" max="50" step="1" formControlName="ward"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="coords">X/Y Coordinates</label>
          <div class="uk-form-controls uk-grid uk-child-width-1-2">
            <input id="coords" type="text" formControlName="xCoordinate" placeholder="x coordinate" class="uk-input"
                   value="{{ coordsX.innerText ? coordsX.innerText: ( (currentRequest && currentRequest.xCoordinate) ? currentRequest.xCoordinate : '' )}}">
            <input type="text" formControlName="yCoordinate" placeholder="y coordinate" class="uk-input"
                   value="{{ coordsY.innerText ? coordsY.innerText: ( (currentRequest && currentRequest.yCoordinate) ? currentRequest.yCoordinate : '' )}}">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="latID">Latitude/Longitude</label>
          <div class="uk-form-controls uk-grid uk-child-width-1-2">
            <input id="latID" type="text" formControlName="latitude" placeholder="latitude" class="uk-input"
                   value="{{latVal.innerText ? latVal.innerText: ( (currentRequest && currentRequest.latitude) ? currentRequest.latitude : '' )}}">
            <input id="lonID" type="text" formControlName="longitude" placeholder="longitude" class="uk-input"
                   value="{{lonVal.innerText ? lonVal.innerText: ( (currentRequest && currentRequest.longitude) ? currentRequest.longitude : '' )}}">
          </div>
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary" type="submit" (click)="submitForm()">Submit</button>
        </div>
      </form>

    </div>

  </div>
</div>

<div id="marker"></div>

<div id="coordsX" #coordsX style="display: none"></div>
<div id="coordsY" #coordsY style="display: none"></div>
<div id="latVal" #latVal style="display: none"></div>
<div id="lonVal" #lonVal style="display: none"></div>
