<div>
  <h1 class="uk-heading-divider">Find incidents by street name or by zip code</h1>
</div>

<div class="uk-container-small uk-align-center uk-box-shadow-medium uk-padding">

  <div class="uk-margin-bottom">
    <div *ngIf="searchForm" [formGroup]="searchForm">
      <div *ngIf="streetNames" class="uk-margin">
        <label class="uk-form-label">Search by street name</label>
        <select class="uk-select" formControlName="strName" (change)="getRequestsInStreet(true)">
          <option value="">-- choose a street name --</option>
          <option *ngFor="let s of streetNames" value="{{ s.streetName }}">{{ s.streetName }}</option>
        </select>
      </div>
      <div *ngIf="zipCodes" class="uk-margin">
        <label class="uk-form-label">Search by zip code</label>
        <select class="uk-select" formControlName="zipCode" (change)="getRequestsInZipcode(true)">
          <option value="">-- choose a zip code --</option>
          <option *ngFor="let z of zipCodes" value="{{ z.zipCode }}">{{ z.zipCode }}</option>
        </select>
      </div>
    </div>
  </div>

</div>
<div class="uk-container-small uk-align-center uk-box-shadow-medium uk-padding">

  <div>
    <div class="uk-margin">
      <h3 class="uk-h3">{{ resultsTitle }}</h3>
    </div>
    <div class="uk-flex uk-flex-right">
      <div class="uk-margin uk-width-small uk-text-right">
        <span>Items per page</span>
        <select class="uk-select" (change)="changeItemsPerPage($event)">
          <option value="10" selected>10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div>
      <ul class="uk-pagination">
        <li>
          <a (click)="goToPreviousPage()">
            <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
          </a>
        </li>
        <li class="uk-margin-auto">page {{currentPage + 1}} of {{totalPages}}</li>
        <li>
          <a (click)="goToNextPage()">
            Next <span class="uk-margin-small-left" uk-pagination-next></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="uk-margin">
      <table class="uk-table uk-table-hover uk-table-striped uk-table-expand">
        <thead>
        <tr>
          <th>Service Request No</th>
          <th>Type Of Request</th>
          <th>Current Status</th>
          <th>Creation date</th>
          <th>Completion date</th>
        </tr>
        </thead>
        <tr *ngIf="results && (results.length === 0)"><td colspan="5">No results yet</td></tr>
        <tbody *ngIf="results && (results.length > 0)">
        <tr class="uk-link" *ngFor="let r of results" routerLink="/requests/edit/{{r.id}}">
          <td>{{r.serviceRequestNumber}}</td>
          <td>{{r.requestType.type}}</td>
          <td>{{r.status}}</td>
          <td>{{r.creationDate | date : "yyy-MM-dd"}}</td>
          <td>{{r.completionDate | date : "yyy-MM-dd"}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <ul class="uk-pagination">
        <li>
          <a (click)="goToPreviousPage()">
            <span class="uk-margin-small-right" uk-pagination-previous></span> Previous
          </a>
        </li>
        <li class="uk-margin-auto">page {{currentPage + 1}} of {{totalPages}}</li>
        <li>
          <a (click)="goToNextPage()">
            Next <span class="uk-margin-small-left" uk-pagination-next></span>
          </a>
        </li>
      </ul>
    </div>

  </div>

</div>
