/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";


.top-menu-link {
  color: #04247a;
}

.top-menu-link:hover {
  color: whitesmoke;
}

.top-menu-active-link {
  color: #414a57;
}

.ng-touched.ng-invalid {
  border-color: red;
}

#marker {
  width: 20px;
  height:20px;
  border-radius: 10px;
  background-color: #cc3333;
  position: center;
}

