<div>
  <h1 class="uk-heading-divider">Welcome to the Chicago 311 application!</h1>
</div>
<div *ngIf="!isLoggedIn()" class="uk-container-small uk-align-center uk-box-shadow-medium uk-padding">

  <div *ngIf="userForm">
    <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>
    <form [formGroup]="userForm" class="uk-form-horizontal">
      <div class="uk-heading uk-h2">{{ isRegistered ? 'Sign in': 'Register' }}</div>
      <div class="uk-margin">
        <label class="uk-form-label" for="un">Username</label>
        <div class="uk-form-controls">
          <input id="un" type="text" formControlName="username" class="uk-input">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="pw">Password</label>
        <div class="uk-form-controls">
          <input id="pw" type="password" formControlName="password" class="uk-input">
        </div>
      </div>

      <div *ngIf="!isRegistered">
        <div class="uk-margin">
          <label class="uk-form-label" for="cpw">Confirm Password</label>
          <div class="uk-form-controls">
            <input id="cpw" type="password" formControlName="confirm_password" class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="email">Email address</label>
          <div class="uk-form-controls">
            <input id="email" type="email" formControlName="email"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="firstname">First name</label>
          <div class="uk-form-controls">
            <input id="firstname" type="text" formControlName="firstname"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="lastname">Last name</label>
          <div class="uk-form-controls">
            <input id="lastname" type="text" formControlName="lastname"
                   class="uk-input">
          </div>
        </div>
        <div class="uk-margin uk-grid">
          <div class="uk-width-1-2">
            <label class="uk-form-label" for="street">Street</label>
            <div class="uk-form-controls">
              <select id="street" formControlName="street" class="uk-select">
                <option value="">-- street name --</option>
                <option *ngFor="let st of streetNames" value="{{st.streetName}}">{{ st.streetName }}</option>
              </select>
            </div>
          </div>
          <div class="uk-width-1-2">
            <label class="uk-form-label uk-text-right" for="streetno">Street No</label>
            <div class="uk-form-controls">
              <input id="streetno" type="text" maxlength="10" formControlName="streetno" class="uk-input">
            </div>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <button class="uk-button uk-button-primary" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </form>

    <div class="uk-align-right">
      <div *ngIf="isRegistered" class="uk-text-muted uk-text-small">
        Not registered yet? <a (click)="showRegistration()">Register now!</a>
      </div>
      <div *ngIf="!isRegistered" class="uk-text-muted uk-text-small">
        Already registered? <a (click)="showSignIn()">Sign in!</a>
      </div>
    </div>

  </div>
</div>

<div *ngIf="isLoggedIn()" class="uk-container-small uk-align-center uk-box-shadow-medium uk-padding">
    Welcome to our site! You can now search for a request or create a new one!
</div>
